<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <header>Node.js Chat <a href="http://nodecode.de/">von NodeCode</a></header>
        <ul id="content"></ul>
        <footer>
            <input id="name" type="text" placeholder="dein Name" />
            <input id="text" type="text" placeholder="schreibe etwas..." />
            <input id="senden" type="submit" value="senden" />
        </footer>
    </body>

</body>
</html>
